@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');

$sans: 'Montserrat', sans-serif;
$sans2: 'Baloo Tammudu 2', sans-serif;
$serif: 'Playfair Display', serif;

$light-blue: #a3cdd9;
$yellow: #F2CC39;
$blue: #8ab4bf;
$gray: #B5B5B5;
$dark-gray: #757575;
$black: #363636;
$white: #F6F6F6;
$white2: #FCFFFF;
$white3: #DBDBDB;
